{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

    <div class="content">

        <hello></hello>

        <h3>Routen</h3>
        <ul>
            <li><a href="{{ url_for('hello') }}">Index</a></li>
            <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
            <li><a href="{{ url_for('randomdates') }}">RandomDates</a></li>
        </ul>


    </div>

    <script type="riot/tag" src="/static/tag/hello.tag"></script>
{% endblock %}
